# Ignore Python cache
**/__pycache__/
*.pyc
*.pyo

# Ignore Git-related files
.git/
.gitignore

# Ignore Docker-related files
Dockerfile

# Ignore documentation and temporary files
*.md
LICENSE
*.log
*.tmp

# Ignore build artifacts and preview files
assets/preview.gif
build/
dist/
*.egg-info/

